body{
    margin: 0;
    width: 100vw;
}

/*Fixed header menu navigation*/

header{
    position: fixed;
    z-index: 901;
    top: 0;
    right: 0;
    left: 0;
    top: 0;
    background-color: #fff;  
    height: 100px;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95vw;
    height: 90px;
    min-height: 90px;

}

.left{
    display: flex;
    box-align: center;
    align-items: center;
    letter-spacing: 0;
    margin: 0;
    padding: 0;
}

ul{
    display: block;
}


/*Right side of the nav*/

.right{
    display: flex;
    justify-content: space-between;
    width: 200px;
}

/*Left side of the navigation*/

.internal{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-left: 2vw;

}

/*right side of the navigation*/

.external{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
    height:
}



.space-line{
    display: flex;
    align-items: center;
    border-left: 1px solid #ccc;
    height: 4vh;
}

li{
    list-style: none;
    margin-right: 2vw;
    padding-bottom: 10px;
}

a{
    text-decoration: none;
    color: black;
    padding: 0;
    margin: 0;
}

/*magnumphotos logo*/

.left img{
    width: 70px;
    height: auto;
}

/*hamburger menu*/

.menu-icon {
    display: grid;
    place-items: center;
    height: 15px;
    width: 20px;
    cursor: pointer;

  }

  .menu-icon span {
    width: 20px;
    height: 2px;
    background: rgb(0, 0, 0);
    display: block;
  }

.line{
  width: 100%;
}
/*main image in the center*/


.content-outer{

    margin-top: 120px;
    max-width: 100%;
    max-height: 100%;
}

.content-outer img{
    
width: 100%;

}

/*line with text in the middle*/

.title {
    text-align: center;
    position: relative;
    margin-top: 60px;
    margin-bottom: 30px;
    color: #5e5d5d;
    margin-left: auto;
    margin-right: auto;

}

  .title span {
    display: inline-block;
    position: relative;
  }
  .title span:before,
  .title span:after {
    content: "";
    position: absolute;
    border-top: 1px solid #ccc;
    border-bottom: 0;
    width: 600px;
    margin-top: 14px;
  }
  .title span:before {
    right: 100%;
    margin-right: 15px;
  }
  .title span:after {
    left: 100%;
    margin-left: 15px;
  }

/*newsroom article*/

  .article{
    position: relative;
    float: left;
    width: 205px;
    margin-left: 10vw;
}

/*photo articles*/

.teasers{
    float: left;
    position: relative;
    height: 712px;
    
    
}

.teaser1{
    position: absolute;
    left: 0px;
    top: 0px;
    
}
.teaser2{
    position: absolute;
    left: 240px;
    top: 0px;
}
.teaser3{
    position: absolute;
    left: 480px;
    top: 0px;
}
.teaser4{
    position: absolute;
    left: 720px;
    top: 0px;
}
.teaser5{
    position: absolute;
    left: 0px;
    top: 357px;
}
.teaser6{
    position: absolute;
    left: 240px;
    top: 357px;
}
.teaser7{
    position: absolute;
    left: 480px;
    top: 357px;
}
.teaser8{
    position: absolute;
    left: 720px;
    top: 357px;
}

.story{
    font-size: 17px;
}

/*button "open story"*/

.button{
    width: 7vw;
    font-size: 14px;
    margin-top: 25px;
    padding: 10px;
    color: #27b4b2;
    border: 1px solid;
    border-color: rgba(39,180,178,.5);
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
}
.button:hover{
    background-color: #27b4b2;
    color: #a2d3d2;
}

@media (min-width:1001px){
    
    ul:first-child li:nth-of-type(2){
        display: none;
    }
}

@media (max-width:1000px){
    
    li{
    display: none;
    }

}