body{
    margin: 0;
}

/*Fixed Header bar start*/

.header{
    position: fixed;
    z-index: 901;
    top: 0;
    right: 0;
    left: 0;
    top: 0;
    background-color: #fff;  
    height: 100px;
    width: 100vw;
    border-bottom: 1px solid rgb(58, 58, 45);
}
.menu{
    float: left;
    margin: 40px 30px 0 20px;
    position: relative;
    max-width: 400px;
}

.name{
  float: left;
    margin: 20px 0 0 0px;
    position: relative;
    max-width: 400px;
    color: rgb(58, 58, 45);
    font-size: 12px;
}

/*Hamburger menu*/

.menu-icon {
  display: grid;
  place-items: center;
  height: 25px;
  width: 20px;
  cursor: pointer;
  
}

span {
  width: 30px;
  height: 2px;
  background: rgb(58, 58, 45);
  display: block;
}
/*Header bar stop*/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(243, 243, 243);
  border-right: 1px solid rgb(58, 58, 45); 
  overflow-x: hidden;
  transition: 1s;
  padding-top: 60px;
  text-align:center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;

}

.sidenav a:hover{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*Fixed footer*/
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(58, 58, 45);
    text-align: left;
    border-top: 1px solid rgb(58, 58, 45);
}

p{
  margin-left: 20px;
}