body{
    margin: 0;
    width: 100%;
    height: 100vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    position: fixed;
    z-index: 901;
    top: 0;
    right: 0;
    left: 0;
    top: 0;
    background-color: #fff;  
    height: 100px;
    width: 100%;
}

.header-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95vw;
    height: 90px;
}

ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding-inline-end: 40px;
}

.search {
    width: 100%;
    position: relative;
    display: flex; 
    width: 50vw;
  }
  
  .searchTerm {
    width: 500px;
    border: transparent;
    padding: 5px;
    height: 35px;
    border-radius: 20px;
    outline: none;
    color: rgb(211, 211, 211);
  }

  .searchTerm:hover{
    background-color: rgb(206, 206, 206);
  }
  
  .searchTerm:active{
    border: 3px solid rgb(37, 150, 179);
    height: 38px;
    background-color: white;
  }
  
  input{
    width: 200px;
  }
  
  li{
      list-style: none;
      padding: 4px;
  }

  a{
      text-decoration: none;
  }

  li:nth-of-type(2){
      display: flex;
      align-items: center;
      justify-content: center;
      height: 45px;
      width: 150px;
      border-radius: 25px;
      background-color: black;
      margin: 3px;
      color: white;
  }
  li:nth-of-type(3){
    margin: 2px;
  }
  li:nth-of-type(4){
    display: flex;
    align-items: center;
  }

  .main{
      color: white;
  }

  .observed{
      color: black;
  }

  /*Gallery */
  
.container{
  margin-top: 120px; 
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-template-rows: repeat(12, 125px);
  grid-gap: 30px;
  justify-content: center;
  grid-auto-flow: dense;
  }
.container_item{
  border-radius: 5px;
  padding: 10px;
  background: #f2f2f2;
  position: relative;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.container_item_row1{
  grid-row-end: span 1;
}
.container_item_row2{
  grid-row-end: span 2;
}
.container_item_row3{
  grid-row-end: span 3;
}
.container_item_row4{
grid-row-end: span 2;
}
.container_item_row5{
grid-row-end: span 1;
}
.container_item_row6{
grid-row-end: span 3;
}

@media (max-width:768px){
  li:nth-of-type(2){
    background-color: white;
    color: black;
    font-size: 12px;
    width: 70px;
}

ul{
  padding-inline-start: 8px;

}
.btn--secondary{
  display: none;
}

input{
  display: none;

}
.search{
  width: 10px;
  font-size: 12px;
}
li{
  font-size: 12px;
}
