body{
    margin: 0;
    width: 100%;
    height: 100vw;
}

header{
    position: fixed;
    z-index: 901!important;
    top: 0!important;
    right: 0!important;
    left: 0!important;
    top: 0;
    background-color: #fff;  
    height: 100px;
    width: 100%;
}

.header-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95vw;
    height: 90px;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.search {
    width: 100%;
    position: relative;
    display: flex; 
    width: 50vw;
  }
  
  .searchTerm {
    width: 100%;
    border: transparent;
    padding: 5px;
    height: 35px;
    border-radius: 20px;
    outline: none;
    color: rgb(211, 211, 211);
  }

  .searchTerm:hover{
    background-color: rgb(206, 206, 206);
  }
  
  .searchTerm:active{
    border: 3px solid rgb(37, 150, 179);
    height: 38px;
    background-color: white;
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
  }
  
  li{
      display: flex;
      align-items: center;
      list-style: none;
  }

  a{
      text-decoration: none;
  }

  li:nth-of-type(2){
      display: flex;
      justify-content: center;
      align-items: center;
      height: 45px;
      width: 150px;
      border-radius: 25px;
      background-color: black;
  }
  .main{
      color: white;
  }

  .observed{
      color: black;
  }

  /*Gallery */
  
.container{
  margin-top: 120px; 
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-gap: 20px;
  justify-content: center;
  grid-auto-flow: dense;
  }
.container_item{
  border-radius: 5px;
  padding: 10px;
  background: #f2f2f2;
  position: relative;
}
img{
  border-radius: 50px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.container_item_row1{
  grid-row-end: span 3;
}
.container_item_row2{
  grid-row-end: span 2;
}
.container_item_row3{
  grid-row-end: span 1;
}
