body{
    margin: 0;
   
}

main{
    display: flex;
    flex-direction: column;
    background-image: url(tesla.jpg);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1%;
    margin-right: 1%;
    text-transform: uppercase;
}
 a{
     color: white;
 }


ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    padding-inline-start: 0;
}




.center{
    display: flex;
    justify-content: space-around;
    width: 25%;
    margin-left: 6%;
    margin-right: 2%;
}

.right{
    display: flex;
    justify-content:space-around;
    width: 15%;
}

.menu-icon {
    display: grid;
    place-items: center;
    height: 15px;
    width: 20px;
    cursor: pointer;
    
  }

span {
    width: 20px;
    height: 2px;
    background: rgb(255, 255, 255);
    display: block;
  }

.line{
  width: 100%;
}


nav a{
    text-decoration: none;
}

article{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 65vh;
    margin-top: 15vh;
    text-transform: uppercase;
}

h1{
    color: white;
    margin-bottom: 40vh;
}
.header{
    display: flex;
    justify-content: center;
    width: 600px;
    height: 5vh;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3em;
    background-color: rgb(39, 39, 39);
    opacity: 70%;
    width: 330px;
    height: 35px;
    margin: 2%;
    font-size: 14px;
    margin-top: 10px;
    color: white;
}
.button:hover{
    opacity: 70%;
}
    
}

footer{
    
}

p{
    display: flex;
    justify-content: center;
}

@media (max-width: 1200px){
.center{
    display: none;
    
}
.right li:first-child{
    display: none;
}

}

@media (max-width: 768px){
    .main{
        font-size: 16px;
    }
    footer{
        font-size: 12px;
    }
    .button{
        font-size: 10px;
    }
}

@media (max-width: 600px){
    .nav{
        font-size: 10px;
    }
    .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 40vh;
        width: 100px;
    }
    .button{
        width: 200px;
    }

}

@media (max-width: 400px){
    main{
        font-size: 12px;
    }
}