body {
    margin: 0;
    width: 100vw;
    font-family: 'Times New Roman', Times, serif; 
    background-image: url(/to-do-list/img/background.jpg);
    background-size: cover;
    background-position: center;
    color: rgb(53, 48, 38);
}

.header {
    display: flex;
    justify-content: center;
}

.container {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    
}

#bar {
    margin-top: 10px;
}

#input {
    width: 40vw;
    height: 36px;
    outline: none;
    border-radius: 10px;
    border: none;
    margin-right: 10px;
}

#add {
    height: 40px;
    width: 40px;
    background-color: rgb(190, 190, 190);
    border: none;
    border-radius: 10px;
}

#toDoContainer {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    height: 60vh;
    width: 80vw;
    border-top: 2px solid black;
}

li {
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    text-transform: capitalize;
    list-style: none;
    margin-right: 2px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

button {
    cursor: pointer;
    margin-right: 5vw;
    color: rgb(53, 48, 38);
    height: 25px;
    width: 25px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    position: relative;
    float: right;

}