body {
    margin: 0;
    width: 100vw;
    font-family: 'Courier New', Courier, monospace;
    background-image: url(/to-do-list/img/background.jpg);
    background-size: cover;
    background-position: center;
}

.header {
    display: flex;
    justify-content: center;
}

.container {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

#bar {
    margin-top: 10px;
}

#input {
    width: 40vw;
    height: 36px;
    border: 1px solid black;
    outline: none;
    border-radius: 10px;
    border: none;
    margin-right: 10px;
}

#add {
    height: 40px;
    width: 40px;
    background-color: rgb(190, 190, 190);
    border: none;
    border-radius: 10px;
}

#toDoContainer {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    height: 60vh;
    width: 80vw;
    border-top: 1px solid black;
}

p {
    text-align: center;
    cursor: pointer;
    text-transform: capitalize;
    margin-right: 2px;
}

p button {
    cursor: pointer;
    height: 10px;
    width: 10px;
    border-radius: 5px;
}