.slider {
  width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.header {
  text-align: center;
  letter-spacing: 10px;
}

.slider__container {
  display: flex;
  height: 400px;
  transform: translate(0);
  transition: transform 0.9s ease;
}
.slider__container--image {
  width: 100%;
}

.slider__controls {
  font-size: 3rem;
}

.previous {
  left: 20px;
}
.previous:hover {
  left: 10px;
}

.next {
  right: 45px;
}

.next:hover {
  right: 35px;
}

.previous,
.next {
  width: 20px;
  display: inline-block;
  cursor: pointer;
  opacity: 75%;
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  transition: all 0.3s ease;
  color: white;
}
