body {
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(248, 248, 248);
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

/*main title*/

.header {
    text-align: center;
    color: rgb(49, 49, 49);
    text-transform: uppercase;
    letter-spacing: 12px;
    /* background-color: rgb(0, 0, 0);
    margin-left: 20vw;
    margin-right: 20vw;
    border-radius: 10px; */
}

/*main slide show container*/

.container {
    width: 100%;
    overflow: hidden;
}

.slides-container {
    height: 100vh;
    position: relative;
    transition: 1000ms;
    width: 100%;
}

.slide-image {
    height: 80%;
    width: 100%;
    position: absolute;
    text-align: center;
}

.slide-image img {
    width: auto;
    height: 100%;
    background-size: cover;
}

/*Next and prev buttons*/

.prev-btn, .next-btn {
    
    opacity: 50%;
    padding: 30px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 60px;
    cursor: pointer;
    z-index: 100;
    transition: 500ms;
    
}

.prev-btn:hover, .next-btn:hover {
    opacity: 100%;
}

.prev-btn {
    left: 0;
    color: rgb(0, 0, 0);
}

.next-btn {
    right: 0;
    color: rgb(0, 0, 0);
}

/* slide show button */
.pause-btn, .play-btn{
    border-radius: 100%;
    position: absolute;
    top: 95%;
    left: 47%;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;
    z-index: 100;
    transition: 500ms;
}

.pause-btn{
    left: 53%;
}

/*opacity wip*/

#change-opacity{
    opacity: 50%;
}


